<h1>Friend requests sent to:</h1>
<ul>
<% @friendship_requests.each do |request| %>
  <% if request.request_provider_id == current_user.id %>
    <% user = User.find(request.request_recipient_id) %>
    <li><%= link_to user.username, user %></li>
  <% end %>
<% end %>
</ul>

<h1>Friend request received from:</h1>
<ul>
<% @friendship_requests.each do |request| %>
  <% if request.request_recipient_id == current_user.id %>
    <% user = User.find(request.request_provider_id) %>
    <li><%= link_to user.username, user %></li>
  <% end %>
<% end %>
</ul>
