<p>This is the account page of: <%= @user.username %></p>

<% if @user == current_user %>
  <%= render 'posts/new_post' %>
<% end %>

<% unless @user == current_user %>
  <%= render 'friendship_requests/request_friendship' %>
<% end %>

<%= render 'posts/all_posts', :posts => @posts %>
