<ul>
  <% unless @posts.nil? %>
    <% @posts.each do |post| %>
      <% if post.user_id == @user.id %>
        <li>
          <p>Author: <%= User.find(post.user_id).username %></p>
          <p>Post: <%= post.body %></p>
          <p>Created at: <%= post.created_at %></p>

          <% if post.user_id == current_user.id %>
            <%= link_to "Delete Post", post_path(post), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"} %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
